<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- Syntax Highlighting -->
<link href="{{ site.baseurl }}/assets/css/hljs-vscode-darkplus.css" rel="stylesheet">
<!-- <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.3.2/styles/tomorrow-night-blue.min.css"> -->
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.3.2/highlight.min.js"></script>
<!-- and it's easy to individually load additional languages -->
<script charset="UTF-8"
 src="{{ site.baseurl }}/assets/js/hljs-ruby.js"></script>
<script charset="UTF-8"
 src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.3.2/languages/erb.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<!-- code font -->
<link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&family=Fira+Code:wght@300&family=Fira+Mono&family=Overpass+Mono:wght@300&family=Oxygen+Mono&family=Source+Code+Pro:wght@300&display=swap" rel="stylesheet">

<!-- Custom styles for this site -->
<link href="{{ site.baseurl }}/assets/css/site.css" rel="stylesheet">

