/* CUSTOMIZE THE HTML ELEMENTS
-------------------------------------------------- */

 h1 {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.67rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.33rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

/* CUSTOMIZE THE JUMBOTRON
-------------------------------------------------- */

.jumbotron {
  color: #FFF;
  background-color: #003087;
  background-image: url('../img/jumbotron.png');
}

div.jumbotron h1 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1;
}

footer {
  font-size: 0.75rem;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}
  
.navbar {
  padding: 0 1rem;
}

/* CUSTOMIZE THE VIDEO DEMOS
-------------------------------------------------- */

.video-container {
  margin: 2rem 4rem;
  text-align: center;
}

/* Very small devices */
@media (min-width: 0) {
  .video-container iframe {
    width: 280px;
    height: 175.5px;
  }  
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .video-container iframe {
    width: 373px;
    height: 210px;
  }  
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .video-container iframe {
    width: 560px;
    height: 315px;
  }  
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .video-container iframe {
    width: 560px;
    height: 315px;
  }  
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .video-container iframe {
    width: 560px;
    height: 315px;
  }  
}
