<!doctype html>
<html lang="en">
    <head>
        {% include head-meta.html %}
        {% include head-css.html %}
    </head>
    <body>
        {% include header.html %}

        <main role="main">

            <!-- Main jumbotron for a primary marketing message or call to action -->
            <div class="jumbotron">
                <div class="container">
                    <h1 class="mb-1"><span class="text-nowrap">Ruby on Rails</span> ⇨ <span class="text-nowrap">Demos 'n' Deets</span></h1>
                    <p class="pl-5">{{ site.edition }}</p>
                </div><!-- /.container -->
            </div> <!-- /.jumbotron -->

            <div class="container">

                <div class="row">
                        <div class="col-lg-6">
                          
                <div class="card">
                    <h2 class="card-header my-0">Demos</h2>
                    <div class="card-body">
                        {% for demos_section in site.data.toc.demos_sections %}
                            <h3 class="mt-1">{{ demos_section.heading }}</h3>
                            <ul>
                                {% for demo_link in demos_section.links %}{% assign demo_page = site.pages | where: "name", demo_link | first %}
                                    <li><a href="{{ site.baseurl }}{{ demo_page.url }}">{{ demo_page.title }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endfor %}                            
                    </div> <!-- /.card-body -->
                </div> <!-- /.card -->

                    </div>
                    <div class="col-lg-6">          

                <div class="card">
                    <h2 class="card-header my-0">Deets</h2>
                    <div class="card-body">
                        {% for deets_section in site.data.toc.deets_sections %}
                            <h3 class="mt-1">{{ deets_section.heading }}</h3>
                            <ul>
                                {% for deets_link in deets_section.links %}{% assign deets_page = site.pages | where: "name", deets_link | first %}
                                    <li><a href="{{ site.baseurl }}{{ deets_page.url }}">{{ deets_page.title }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endfor %}                            
                    </div> <!-- /.card-body -->
                </div> <!-- /.card -->
                </div> <!-- /.card-group -->

                    </div>
                </div>

                {{ content }}
            </div> <!-- /.container -->

        </main>

        <footer class="container">
            <hr style="margin-top: 2rem;">
            <p style="text-align: center;">
                {{ site.copyright_notice }}<br>
                Jumbotron background image created with <a href="http://bg.siteorigin.com/">a tool by SiteOrigin</a>.
            </p>
        </footer>

        {% include bootstrap-js.html %}

        <script>
            function markPastDays() {
                var today = new Date(Date.now());
                /* today = new Date('September 9, 2019 20:15:30'); */
                today.setHours(0,0,0);
                /* today.setDate(today.getDate() - 1); */
                $('.day').each(function(index, value){
                    date = new Date($(this).attr('data-date'));
                    if (date < today) {
                        $(this).addClass('past-day');
                    } else {
                        return false;
                    }
                });
            }

            function markPastWeeks() {
                var endOfLastWeek = new Date(Date.now());
                /* endOfLastWeek = new Date('September 9, 2019 20:15:30'); */
                endOfLastWeek.setHours(0,0,0);
                endOfLastWeek.setDate(endOfLastWeek.getDate() - 7 + (6 - ((endOfLastWeek.getDay() + 6) % 7)));
                $('.day').each(function(index, value){
                    date = new Date($(this).attr('data-date'));
                    if (date <= endOfLastWeek) {
                        $(this).parent().addClass('past-week');
                    } else {
                        return false;
                    }
                });
            }

            function strikethroughPastDays() {
                $('.past-day .card-header').wrapInner('<s>');
            }

            function collapsePastWeeks() {
                if ($('.past-week').length == 0) {
                    return;
                }

                if ($('.past-week').length == $('.week').length) {
                    return;
                }

                $('<p><a id="pastWeeksBtn" class="btn btn-primary" data-toggle="collapse" href="#pastWeeks" role="button" aria-expanded="false" aria-controls="pastWeeks" style="width: 100%;">Click to Show Past Weeks</a></p>').insertBefore('#schedule');

                $('.past-week').wrapAll('<div class="collapse" id="pastWeeks">');

                $('#pastWeeks').on('show.bs.collapse', function () {
                    var pastWeeksBtn = $('#pastWeeksBtn');
                    pastWeeksBtn.empty();
                    pastWeeksBtn.append('Click to Hide Past Weeks');
                    pastWeeksBtn.removeClass('btn-primary');
                    pastWeeksBtn.addClass('btn-secondary');
                });

                $('#pastWeeks').on('hide.bs.collapse', function () {
                    var pastWeeksBtn = $('#pastWeeksBtn');
                    pastWeeksBtn.empty();
                    pastWeeksBtn.append('Click to Show Past Weeks');
                    pastWeeksBtn.removeClass('btn-secondary');
                    pastWeeksBtn.addClass('btn-primary');
                });
            }

            markPastDays();
            markPastWeeks();
            strikethroughPastDays();
            collapsePastWeeks();
        </script>
                
    </body>
</html>
